footer {
  background-color: #000000;
  color: #f5cb00;
  padding: 2%;
}
.img{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}
.img div{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    margin-bottom: 23%;
}
.img img{
    margin: 2% 0%;
    width: 25%;;
}
ul{
list-style: none;
font-size: 130%;
padding: 0%;
padding-bottom: 20%;
}
.pa{
margin-left: 20%;
}
ul li p{
margin: 2% 0%;
cursor: pointer;
}
.copy{
    text-align: left;
    font-size: 90%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 3%;
}
.fin{
  width: 90%;
}
.redes{
  display: flex;
  flex-direction: row;
  width: 10%;
  height:min-content;
}
.redes img{
  width: 9%;
  margin: 8%;
  cursor: pointer;
}
@media (max-width: 1279px) {
 .img{
  width: 60%;
 }
 .img div{
  margin-bottom: 12%;
 }  
  .redes{
    width: 10%;
  }
  .redes img{
    width: 90%;
    margin: 9%;
    margin-top: 14%;
  }
}

@media (max-width: 920px) {s
  .copy{
    font-size: 90%;
  }
  .fin{
    width: 86%;
  }
}

@media (max-width: 768px) {
  .img{
  width: 70%;
 }
 ul{
  font-size: 100%;
 }
  .fin{
    width: 80%;
  }
}
@media (max-width: 480px) {
  .img{
  width: 90%;
 }
 ul{
  font-size: 90%;
 }
 .pa{
  margin-left: 12%;
 }
   .copy{
    font-size: 70%;
  }
  .redes img{
    width: 50%;
    margin-top: 20%;
  }
}