<footer>
    <section class="ff">
        <div class="img">
            <div>
                <img src="assets/logoWhite.png" alt="Logo blanco">
            </div>
            <ul>
                <li><p>Happiness</p></li>
                <li><p>Books</p></li>
                <li><p>About Us</p></li>
                <li><p>Contact</p></li>
            </ul>
            <ul class="pa">
                <li><p>Policy Privacy</p></li>
                <li><p>Cookies</p></li>
                <li><p>FAQs</p></li>
            </ul>
        </div>
        <hr>
        <div class="copy">
            <div class="fin">
                <p>© 2024 Happiness. All rights reserved.</p>
            </div>
            <div class="redes">
                <img src="assets/Instagramy.png" alt="Instagram">
                <img src="assets/Facebooky.png" alt="Facebook">
                <img src="assets/Twittery.png" alt="Twitter">
            </div>
        </div>
    </section>
</footer>