.header{
    background: #f5cb00;
    display: flex;
    box-sizing: border-box;
    height: 80px;
    width: 100%;
}
.logo{
    width: 68%;
    display: flex;
}
.logo img{
    height: 100%;
    padding: 1%;
    padding-left: 3%;
    box-sizing: border-box;
}
.menu{
    width: 30%;
}
.menu ol{
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    align-items: center;
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}
.menu li{
    justify-content: center;
    padding: 1%;
    padding-left: 4%;
    font-size: 120%;
    width: 100%;
    box-sizing: border-box;
}
p{
    font-weight: 800;
}
@media (max-width: 1279px) {
  .menu ol {
    justify-content: space-around;
  }
    .header .logo{
    width: 60%;
    }
    .header .menu{
      width: 40%;
    }
    .header .menu ol{
      width: 100%;
    }
    .header .menu ol li{
      font-size: 100%;
      width: 100%;
      padding-left: 2%;
    }
}

@media (max-width: 920px) {
  .menu {
    width: 100%;
  }
}

@media (max-width: 768px) {
    .header .menu{
      width: 60%;
    }
    .header .logo{
      width: 40%;
    }
    .header .menu ol{
      width: 100%;
    }
    .header .menu ol li{
      font-size: 90%;
      width: 100%;
    }
}

@media (max-width: 480px) {
  .header .menu ol li p{
    font-size: 66%;
  }
}