.parte3{
    background: #f5cb00;
    display: flex;
    width: 100%;
    height: 80%;
    padding-top: 22%;
}
.img, .img img{
    margin: 4% 4% 4% 0%;
    height: 100%;
    width: 100%;
}
.howhappy{
    width: 90%;
    height: 20%;
    padding-left:8%;
    padding-bottom: 11%;
    box-sizing: border-box;
    text-align: left;
}
.parte3 h2{
    margin: 0%;
    font-size: 800%;
    width: 110%;
}
.parte3 p{
    width: 80%;
    line-height: 150%;
    font-size: 130%;
    font-weight: 600;
}
.parte3 button{
    background-color: #000000;
    color: white;
    margin-top: 4%;
    padding: 2% 5%;
    border: none;
    font-size: 120%;
    font-weight: 700;
}
@media (max-width: 1279px) {
  .parte3 .img {
    width: 60%;
  }
  .parte3 h2{
    width: 100%;
    font-size: 300%;
  }
  .howhappy{
    width: 50%;
    padding-left: 12%;
  }
}

@media (max-width: 920px) {
  .parte3 h2{
    font-size: 250%;
  }
  .howhappy{
    width: 50%;
  }
  .parte3 p{
    font-size: 110%;
  }
}

@media (max-width: 768px) {
  .parte3{
    padding-top: 32%;
  }
  .parte3 h2{
    width: 130%;
    font-size: 200%;
  }
  .howhappy{
    width: 50%;
  }
  .parte3 p{
    font-size: 70%;
  }
  .img, .img img{
    margin: 7% 4% 4% 0%;
  }
  .parte3 button{
    font-size: 70%;
  } 
}

@media (max-width: 480px) {
  .parte3{
    padding-top: 39%;
  }
  .parte3 h2{
    width: 130%;
    font-size: 140%;
  }
  .howhappy{
    width: 50%;
  }
  .parte3 p{
    font-size: 54%;
  }
  .parte3 button{
    font-size: 54%;
  }
}