.parte9{
    background: #f5cb00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
}
.howhappy{
    width: 52%;
}
h2{
    margin-top: 3%;
    font-size: 400%;
}
.parte9 p{
    margin: 4%;
    font-size: 130%;
    font-weight: 600;
}
.img {
    height: 80%;
    width: 80%;
}
.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.parte9 button{
    background-color: #000000;
    color: #ffffff; 
    padding: 1% 3%;
    margin: 2%;
    border: none;
}
@media (max-width: 1279px) {

}

@media (max-width: 920px) {
  .parte9 p{
    font-size: 100%;
  }
  .howhappy{
    width: 70%;
  }
  .parte9 img{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .parte9 h2{
    font-size: 250%;
  }
  .parte9 p{
    font-size: 80%;
  }
}
@media (max-width: 480px) {
  .parte9 h2{
    font-size: 200%;
  }
  .parte9 p{
    font-size: 70%;
  }
  .howhappy{
    width: 80%;
  }
}