<main class="seccion1">
    <section class="parte1">
        <div class="img">
            <img src="assets/img01.png" alt="imagen 1">
        </div>
        <div class="howhappy">
            <h2>HOW HAPPY ARE YOU?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus maxime consectetur, sapiente saepe fugit natus? Recusandae esse aut eos, accusantium laborum cupiditate, numquam animi optio, quae ipsa debitis vitae enim?</p>
            <button>Read more</button>
        </div>
    </section>
    <section class="parte2">
        <div class="howhappy">
            <h2>HAPPINESS IN NUMBERS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus maxime consectetur, sapiente saepe fugit natus? Recusandae ess.</p>
            <button><p>Read more ></p></button>
        </div>
        <div class="imgs">
            <img src="assets/graph01.png" alt="imagen 1">
            <img src="assets/graph02.png" alt="imagen 1">
        </div>
    </section>
</main>