.parte1, .parte2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.parte1{
    width: 80%;
    margin:6%;
    margin-bottom: 21%;
}
.img, .img img{
    height: 100%;
    width: 100%;
}
.howhappy{
    width: 80%;
    padding-left:8%;
    padding-bottom: 11%;
    box-sizing: border-box;
    text-align: left;
}
.parte1 h2{
    margin: 0%;
    width: 80%;
    font-size: 700%;
}
.imgs {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.parte1 p{
    font-size: 130%;
    font-weight: 600;
}
.parte1 button{
    background-color: #f5cb00;
    padding: 2% 5%;
    border: none;
    font-size: 120%;
    font-weight: 700;
}
.parte2 {
    box-shadow: 8px 8px 16px rgba(109,107,107,0.5);
    justify-self: center;
    position: absolute;
    background: #dbdbd9;
    width: 75%;
    padding: 2%;
    top:150%;
    height: 45%;
    gap: 25%;
}
.parte2 .howhappy{
    height: 100%;
    padding: 0%;
    padding-left:4%;
    box-sizing: border-box;
    text-align: left;
}
.parte2 h2{
    color: #f5cb00;
    width: 60%;
    font-size: 230%;
    margin: 0%;
}
.parte2 p{
    font-size: 100%;
}
.parte2 button{
    font-size: 100%;
    line-height: 12%;
    background-color: #dbdbd9;
    border: none;
}
@media (max-width: 1279px) {
  .parte1{
    width: 100%;
    margin: 0%;
    padding:2%;
    margin-bottom: 13%;
    box-sizing: border-box;
  }
  .parte1 .img {
    width: 60%;
  }
    .parte1 h2{
    width: 60%;
    font-size: 300%;
  }
  .howhappy{
    width: 40%;
    padding-left: 3%;
    padding-bottom: 2%;
  }
  .parte1 p{
    font-size: 110%;
    font-weight: 600;
   }
   .parte2 {
    top:123%;
    height: 25%;
}
.parte2 .howhappy{
    width: 50%;
}
.parte2 h2{
    width: 40%;
    font-size: 170%;
}
.parte2 p{
    width: 50%;
    font-size: 50%;
}
.imgs,.imgs img{
    width: 40%;
}
.parte2 button{
    width: 30%;
    padding: 0%;
}
.parte2 button p{
    text-align: left;
    width: 100%;
}
}

@media (max-width: 920px) {
  .parte1 .img {
    width: 60%;
  }
    .parte1 h2{
    width: 70%;
    font-size: 300%;
  }
  .howhappy{
    width: 40%;
    padding-left: 3%;
    padding-bottom: 2%;
  }
  .parte1 p{
    font-size: 100%;
    font-weight: 600;
   }
   .parte2 {
    top:99%;
    height: 24%;
}
.parte2 .howhappy{
    width: 90%;
}
.parte2 h2{
    width: 45%;
}
}

@media (max-width: 768px) {
.parte1{
    flex-wrap: wrap;
    margin-bottom: 25%;
}
   .parte1 .img {
    width: 100%;
  }
  .howhappy{
    width: 100%;
  }
   .parte2 {
    top:159%;
    height: 125px;
}
.parte2 h2{
    width: 50%;
    font-size: 130%;
}
.parte2 p{
    width: 80%;
}
.imgs,.imgs img{
    width: 55%;
}
.parte2 button{
    width: 50%;
} 
}

@media (max-width: 480px) {
.parte2 {
    height: 15%;
    top:141%;
}
.parte2 .howhappy h2{
   font-size: 80%;
}
.parte2 p{
    font-size: 22%;
}
.imgs,.imgs img{
    margin-right: 7%;
}
}
