.parte5{
    color:white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
}
.howhappy{
    width: 52%;
}
h2{
    margin-top: 3%;
    font-size: 300%;
    color: #f5cb00;
}
.parte5 p{
    font-size: 130%;
    font-weight: 600;
}
.img {
    height: 80%;
    width: 80%;
    clip-path: inset(10% 0 0 0);
    overflow: hidden;object-fit: cover;
}
.img img {
    clip-path: inset(20% 0 0 0);
    height: 100%;
    width: 80%;
    object-fit: cover;
    margin-top: -10%;
}
.parte5 button{
    background-color: #f5cb00;
    color: #000000; 
    padding: 0% 3%;
    margin: 2%;
    border: none;
}
@media (max-width: 1279px) {

}

@media (max-width: 920px) {
  .parte5 p{
    font-size: 100%;
  }
  .howhappy{
    width: 70%;
  }
  .parte5 img{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .parte5 h2{
    font-size: 250%;
  }
  .parte5 p{
    font-size: 80%;
  }
}
@media (max-width: 480px) {
  .parte5 h2{
    font-size: 200%;
  }
  .parte5 p{
    font-size: 70%;
  }
  .howhappy{
    width: 80%;
  }
}