@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

html, body {
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Bebas Neue', sans-serif;
}
p, label{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}