<section class="parte4">
    <div class="imgs">
        <img src="assets/img03.png" alt="imagen 1">
    </div>
    <div class="howhappy">
        <h2>% HAPPINESS</h2>
        <p>Lorem ipsum dolor sit amet papapa oaoa isf nnsnndo marmotas miticas comiendo papas fritas en frijidorawa consectetur adipisicing elit. Minus maxime consectetur, sapiente saepe fugit natus? Recusandae ess.</p>
        <button><p>Read more</p></button>
        <img src="assets/graph01.png" alt="imagen 1">
    </div>
</section>