.parte4 {
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 38px 38px 100px rgba(109,107,107,0.5);
    justify-self: center;
    background: #dbdbd9;
    width: 80%;
    margin: 6%;
    height: 45%;
}
.imgs{
    width: 50%;
}
.imgs img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.howhappy{
    object-fit: cover;
    height: 100%;
    width: 50%;
    padding: 3% 0%;
    padding-left:4%;
    background: #e4e0e0;
    box-sizing: border-box;
    text-align: left;
}
.parte4 h2{
    font-size: 600%;
    margin: 0%;
    color: #f5cb00;
}
.parte4 p{
    width: 70%;
    font-size: 130%;
    font-weight: 600;
    margin-bottom: 7%;
}
.parte4 button{
    background-color: #000000;
    color: #dbdbd9;
    width: 34%;
    margin-right:40%; 
    padding: 0% 5%;
    padding-bottom: 2%;
    border: none;
    box-sizing: border-box;
}
.howhappy button p  {
    font-size: 140%;
    width: 100%;
}
.howhappy img{
    width: 48%;
    margin-top: 10%;
    margin-left: 40%;
    object-fit: cover;
}
@media (max-width: 1279px) {
  .parte4 h2{
    width: 100%;
    font-size: 400%;
  }
    .parte4 button{
    width: 40%;
  }
  .parte4 button p{
    font-size: 100%;
    width: 100%;
  }
}

@media (max-width: 920px) {
  .parte4 p{
    font-size: 100%;
  }
}

@media (max-width: 768px) {
  .parte4 h2{
    font-size: 250%;
  }
  .parte4 p{
    font-size: 80%;
  }
  .parte4 button{
    padding-bottom: 4%;
  }
  .parte4 button p{
    font-size: 60%;
  } 
}

@media (max-width: 480px) {
  .parte4 h2{
    font-size: 190%;
  }
  .parte4 p{
    font-size: 60%;
  }
  .parte4 button p{
    font-size: 40%;
  }
}