    <section class="parte8">
        <div class="form">
            <form action="#">
                <div class="name">
                    <label for="name">Name</label>
                    <input type="text">
                </div>
                <div class="surname">
                    <label for="surname">Surname</label>
                    <input type="text">
                </div>
                <div class="email">
                    <label for="email">Email</label>
                    <input type="email">
                </div>
                <div class="password">
                    <label for="password">Password</label>
                    <input type="password">
                </div>
                <div class="message">
                    <label for="message">Message</label>
                    <textarea name="" id=""></textarea>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, consectetur harum eum commodi cum voluptatum asperiores eius, ea neque, magnam ratione est vitae! Voluptate facilis dolor reiciendis, repudiandae vel laborum?</p>
            </form>
        </div>
        <div class="howhappy">
            <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus maxime consectetur, sapiente saepe fugit natus? Recusandae esse aut eos, accusantium laborum cupiditate, numquam animi optio, quae ipsa debitis vitae enim?</p>
            <button>Subscribe</button>
        </div>
    </section>