.parte7 {
    display: flex;
    flex-wrap: nowrap;
    justify-self: center;
    background: #e9e9e7;
    box-sizing: border-box;
    padding: 7.5% 5%;
    width: 100%;
    height: 45%;
}
.imgs{
    width: 50%;
}
.imgs img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.howhappy{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 50%;
    padding: 12% 0%;
    padding-left:6%;
    box-sizing: border-box;
    text-align: left;
}
.parte7 h2{
    width: 80%;
    font-size: 600%;
    margin: 0%;
}
.parte7 p{
    width: 70%;
    font-size: 130%;
    font-weight: 600;
    margin-bottom: 7%;
}
.parte7 button{
    background-color: #f5cb00;
    width: 30.1%;
    padding: 0% 5%;
    padding-bottom: 2%;
    border: none;
    box-sizing: border-box;
}
.howhappy button p  {
    font-size: 120%;
    width: 100%;
}
@media (max-width: 1279px) {
  .parte7 h2{
    width: 100%;
    font-size: 400%;
  }
  .parte7 button{
    width: 40%;
  }
  .parte7 button p{
    font-size: 100%;
  }
}

@media (max-width: 920px) {
  .parte7 p{
    font-size: 100%;
  }
}

@media (max-width: 768px) {
  .parte7 h2{
    font-size: 250%;
  }
  .parte7 p{
    font-size: 80%;
  }
  .parte7 button{
    padding-bottom: 4%;
  }
  .parte7 button p{
    font-size: 60%;
    width: 100%;
  } 
}

@media (max-width: 480px) {
  .parte7 h2{
    font-size: 190%;
  }
  .parte7 p{
    font-size: 60%;
  }
  .parte7 button p{
    font-size: 40%;
  }
}